#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

li {
  font-size: 1rem;
  list-style: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.069);
  display: flex;
  position: relative;
  padding: 15px 0;
}

span {
  text-align: right;
  width: 99%;
  justify-content: center;
}

li div {
  text-align: left;
  position: absolute;
  top: 2.3rem;
  left: 8rem;
}
#dark-button {
  background-color: #1a1a1a;
}

img {
  width: 7rem;
  margin-right: 1rem;
}

section {
  display: flex;
  justify-content: space-evenly;
  
}

section img {
  width: 20rem;
  padding: 10px;
  box-sizing: border-box;
  transition: transform .2s;
}

section img:hover {
  transform: scale(1.1);
  border: solid 0.15rem rgba(255, 255, 255, 0.402);
}

section button {
  background-color: #242424;
  border: none;
}

section button:focus,
section button:focus-visible {
  outline: none;
}